<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>Mediator</servlet-name>
        <servlet-class>Mediator</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewServlet</servlet-name>
        <servlet-class>NewServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Verilog</servlet-name>
        <servlet-class>Verilog</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SaveVerilog</servlet-name>
        <servlet-class>SaveVerilog</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ZipServlet</servlet-name>
        <servlet-class>ZipServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RecompileTB</servlet-name>
        <servlet-class>RecompileTB</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReexecuteTB</servlet-name>
        <servlet-class>ReexecuteTB</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GenerateCode</servlet-name>
        <servlet-class>controller.GenerateCode</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LinearEquationSolver</servlet-name>
        <servlet-class>controller.LinearEquationSolver</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SaveExp3</servlet-name>
        <servlet-class>controller.SaveExp3</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InitializerServlet</servlet-name>
        <servlet-class>controller.InitializerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>controller.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FloatingPointConverterCodeGenerator</servlet-name>
        <servlet-class>controller.FloatingPointConverterCodeGenerator</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FloatingPointArithmeticsCodeGenerator</servlet-name>
        <servlet-class>controller.FloatingPointArithmeticsCodeGenerator</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SaveAsOnClient</servlet-name>
        <servlet-class>controller.SaveAsOnClient</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterUser</servlet-name>
        <servlet-class>controller.RegisterUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginMe</servlet-name>
        <servlet-class>controller.LoginMe</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FetchData</servlet-name>
        <servlet-class>controller.FetchData</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PidControllerExpnew7</servlet-name>
        <servlet-class>controller.PidControllerExpnew7</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FetchDataSecond</servlet-name>
        <servlet-class>controller.FetchDataSecond</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckUser</servlet-name>
        <servlet-class>controller.CheckUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PWMController</servlet-name>
        <servlet-class>controller.PWMController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LNSController</servlet-name>
        <servlet-class>controller.LNSController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VerilogAbstractionLevelExp2New</servlet-name>
        <servlet-class>controller.VerilogAbstractionLevelExp2New</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Mediator</servlet-name>
        <url-pattern>/Mediator</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewServlet</servlet-name>
        <url-pattern>/NewServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Verilog</servlet-name>
        <url-pattern>/Verilog</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SaveVerilog</servlet-name>
        <url-pattern>/SaveVerilog</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ZipServlet</servlet-name>
        <url-pattern>/ZipServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RecompileTB</servlet-name>
        <url-pattern>/RecompileTB</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReexecuteTB</servlet-name>
        <url-pattern>/ReexecuteTB</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GenerateCode</servlet-name>
        <url-pattern>/GenerateCode</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LinearEquationSolver</servlet-name>
        <url-pattern>/LinearEquationSolver</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SaveExp3</servlet-name>
        <url-pattern>/SaveExp3</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InitializerServlet</servlet-name>
        <url-pattern>/InitializerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FloatingPointConverterCodeGenerator</servlet-name>
        <url-pattern>/FloatingPointConverterCodeGenerator</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FloatingPointArithmeticsCodeGenerator</servlet-name>
        <url-pattern>/FloatingPointArithmeticsCodeGenerator</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SaveAsOnClient</servlet-name>
        <url-pattern>/SaveAsOnClient</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterUser</servlet-name>
        <url-pattern>/RegisterUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginMe</servlet-name>
        <url-pattern>/LoginMe</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FetchData</servlet-name>
        <url-pattern>/FetchData</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PidControllerExpnew7</servlet-name>
        <url-pattern>/PidControllerExpnew7</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FetchDataSecond</servlet-name>
        <url-pattern>/FetchDataSecond</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckUser</servlet-name>
        <url-pattern>/CheckUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PWMController</servlet-name>
        <url-pattern>/PWMController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LNSController</servlet-name>
        <url-pattern>/LNSController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VerilogAbstractionLevelExp2New</servlet-name>
        <url-pattern>/VerilogAbstractionLevelExp2New</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>10</session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
        <!--        <welcome-file>SimFpga.jsp</welcome-file>-->
    </welcome-file-list>
</web-app>
